<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 🌱 FARMSY | HOME</title>
    <link rel="stylesheet" type="text/css" href="static\style2.css">
</head>
<body>
    <div class="navbar">
        <div class="icon">
            <h2 class="logo">🌱 FARMSY.</h2>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#home">HOME</a></li>
                <li><a href="#container">PREDICT</a></li>
                <li><a href="#about">ABOUT</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="home">
            <div class="hometext">
                <h2><i>Want To Know Which Crop To Cultivate?</i></h2>
                <p>
                    Presenting this one-stop solution for your problem - 🌱FARMSY. <br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    This system takes in a fixed set of conditions that directly affect crops and outputs the most 
                    suitable crop for those said conditions.Say goodbye to guesswork and hello to data-driven 
                    predictions – start with 🌱FARMSY. today and start seeing tangible results in your harvest!
                </p>
            </div>
            <div class="homeimg"></div>
        </div>
        <div class="container">
            <h4>. OUR SERVICES .</h4>
            <div class="cards">
            <div class="crop">
                <h5>CROP</h5>
                <div class="img1" id="img1">
                    <img src="icons8-growing-plant-96.png" alt="">
                </div>
                <p>Prediction about the type of crops to be cultivated which is best suited
                    for the respective conditions, considering parameters such as soil nutrients, 
                    temperature, rainfall, and humidity  for making these predictions.</p>
                <a href="crop_.html">Predict Crops</a>
            </div>
            <!--<div class="yield">
                <h5>YIELD</h5>
                <div class="img2" id="img2">
                    <img src="icons8-harvest-64.png" alt="">
                </div>
                <p>Provide information for the crop like its type, the area of the farm,
                    the soil category and the district in which it is to be grown inorder to get 
                    predicted yield</p>
                <a href="yield_.html">Predict Yield</a>
            </div>-->
            </div>
        </div>
        <div class="about">
            <h4>. ABOUT US .</h4>
                <div class="aboutus">
                    <div class="aboutimg1"></div>
                    <div class="abouttext">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Designed to assist farmers in selecting the most suitable crop to 
                            cultivate based analyzing on various environmental factors, the goal for 
                            🌱FARMSY is to make crop selection easier, more efficient, and ultimately
                            increase crop yields while reducing wastage of resources.<br><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            We leverage the latest machine learning techniques to provide accurate 
                            and reliable recommendations. This platform is built with a user-friendly 
                            interface to ensure ease of use for farmers and other enthusiasts in the 
                            agriculture sector. <br><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            The objective of this website is also to be able to provide personalized 
                            recommendations for crops and improve livelihoods as well as encourage 
                            more agricultural research.
                        </p>
                    </div>
                </div>
        </div>
        <section class="footer">
            <div class="box-container">
                <div class="box">
                    <h3>Quick links</h3>
                    <a href="#">Home</a>
                    <a href="#">Services</a>
                    <a href="#">About</a>
                </div>
                <div class="coi">
                    <h3>Covering States</h3>
                    <a href="#">Maharashtra</a>
                </div>
                <div class="coi">
                    <h3>Contact Info</h3>
                    <a href="#">+91 1234567890</a>
                    <a href="#">farmsy.support@gmail.com</a>
                    <a href="#">Mumbai, india - 400000</a>
                </div>
            </div>
            <div class="credit"> created by <span> 🌱FARMSY Team </span> | <i class="fa fa-copyright" aria-hidden="true"></i> all rights reserved </div>
        </section>
    </div>
</body>
</html>