<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 🌱 FARMSY | WELCOME</title>
    <link rel="stylesheet" type="text/css" href="static\style.css">
</head>

<body>
    <div class="navbar">
        <div class="icon">
            <h2 class="logo">🌱 FARMSY.</h2>
        </div>
    </div>
    <div class="center">
        <div class="content">
        <div class="anim">
            <img src="static\icons8-plant-96.png" alt="">
        </div>
        <div class="written">
            <h4><i>Welcome to our Crop Prediction Website!</i></h4>
        </div>
        <div class="anim">
            <img src="static\icons8-plant-96.png" alt="">
        </div>
        </div>
        <p>
            &nbsp;&nbsp;Our platform is designed to assist farmers in making informed decisions about crop selection based on
            various input parameters and environmental conditions. We provide tailored crop recommendations that
            take into account factors such as soil type, weather patterns, and crop rotation history, in order to
            maximize crop yields and optimize resource usage. We aim to empower farmers to make data-driven decisions and achieve greater success in their
            agricultural endeavors. Join us today and see the benefits of our crop recommendation platform
            firsthand!
        </p>
        <a class="explore" href="home.html">Explore Now!</a>
    </div>
</body>

</html>
